

<h1>{{title}}</h1>

<p>Welcome to {{title}}</p>


<h2>Articles</h2>
    {{#each articlesBlog}}
        
        <hr>
        <h3>{{this.titre}}</h3>
        <h4>{{this.soustitre}}</h4>
        <h5>{{this.auteur}}</h5>
        <p>{{this.description}}</p>
        <a href="/blog/{{this.titre}}">
            <button>Lire la suite</button>
        </a>    

    {{/each}}

