

<h1>{{title}}</h1>

<p>Welcome to {{title}}</p>

<form action="/contact/{{this.nom}}" method="post">

    <label>Nom:<input name="name" autocomplete="name" id="name"></label>
    <br>

    <label>Prenom:<input name="prenom" autocomplete="prenom" id="prenom"></label>
    <br>

    <label for="email">Adresse courriel:</label> <br>
    <input name="email" autocomplete="email" id="email">
    <br>

    <label>Numero de telephone:<input name="phone" autocomplete="phone" id="phone"></label>
    <br>


    <label>Sujet:<select name="sujet" id="sujet">
        <option value="inscription">Inscription</option>
        <option value="formation">Demande de formation</option>
    </select>
    <br>

    <label>Comment pouvons nous vous aider:<textarea name="demande" id="demande" cols="30" rows="10"></textarea>
    <br>
    <input type="submit" value="submit">



</form>

