

<h1>{{title}}</h1>

<p>Welcome to {{title}}</p>



<div>
    <h2>Formations</h2>

        <a href="/formations/mongodb">
            <h3>MongoDB</h5>

        </a>    

        <a href="/nodejs">
            <h3>Node.js</h5>
        </a>    
        
</div> 


<div>
<h2>Formations</h2>
    {{#each formations}}

    <hr>
            <h5>{{this.type}}</h5>
            <h3>{{this.nom}}</h3>
            <h4>{{this.cout}}</h4>
            <p>{{this.description}}</p>
                    <a href="/formation/{{this.type}}/{{this.nom}}">
            <button>Decouvrir ce cours</button>
        </a>    

    {{/each}}
</div>    

