

<h1>{{title}}</h1>

<div>
<h1>Formations {{title}}</h1>
    {{#each formations}}

            <h5>{{Formation.type}}</h5>
            <h3>{{Formation.nom}}</h3>
            <h4>{{Formation.cout}}</h4>
            <p>{{Formation.description}}</p>
        <a href="/formations/{{Formation.type}}/{{Formation.nom}}">
            <button>Decouvrir ce cours</button>
        </a>    

    {{/each}}
</div>    
